img.decorative-green-diamond {
	position: absolute;
	transform: translate(-22rem, -17rem);
	width: 6vw;
}

img.decorative-yellow-circle {
	position: absolute;
	transform: translate(24rem, 9rem);
	width: 22vh;
}

img.decorative-blue-circle {
	position: absolute;
	transform: translate(-25rem, -3rem);
	width: 12vw;
	z-index: 1;
}

img.decorative-white-circle-left {
	position: absolute;
	top: 14%;
	left: 0;
	transform: translateX(-50%);
	width: 35vw;
}

img.decorative-white-circle-right {
	position: absolute;
	top: 14%;
	right: 0;
	transform: translateX(50%);
	width: 35vw;
	z-index: 1;
}

.logout-action {
	border: 2px solid rgb(220, 53, 69) !important;
	border-radius: 15px;
}

.logout-action:hover {
	color: white !important;
	border: none;
	background-color: rgb(220, 53, 69);
}

/* TODO: resolver o problema do tamanho da logo */
@media (max-width: 575px) {
	.decorative-green-diamond,
	.decorative-yellow-circle,
	.decorative-blue-circle,
	.decorative-white-circle-left,
	.decorative-white-circle-right {
		display: none;
	}
	img.drikey-logo {
		width: 40vw !important;
	}
}

@media (min-width: 576px) {
	img.drikey-logo {
		width: 30%;
	}
	img.decorative-green-diamond {
		transform: translate(-34vw, -38.5vw);
		width: 9vw;
	}
	img.decorative-yellow-circle {
		transform: translate(40vw, 14vw);
		width: 12vw;
	}
	img.decorative-blue-circle {
		transform: translate(-38vw, 0);
		width: 12vw;
	}
	img.decorative-white-circle-left {
		transform: translate(-50%, 105%);
		width: 25vw;
	}
	img.decorative-white-circle-right {
		transform: translate(50%, 105%);
		width: 25vw;
	}
}

@media (min-width: 768px) {
	img.decorative-green-diamond {
		transform: translate(-28vw, -29.5vw);
		width: 8vw;
	}
	img.decorative-yellow-circle {
		transform: translate(33vw, 14vw);
		width: 12vw;
	}
	img.decorative-blue-circle {
		transform: translate(-38vw, 0);
		width: 12vw;
	}
	img.decorative-white-circle-left {
		transform: translate(-50%, 60%);
		width: 25vw;
	}
	img.decorative-white-circle-right {
		transform: translate(50%, 60%);
		width: 25vw;
	}
}

@media (min-width: 992px) {
	img.decorative-green-diamond {
		transform: translate(-27vw, -23.5vw);
		width: 7vw;
	}
	img.decorative-yellow-circle {
		transform: translate(33vw, 14vw);
		width: 12vw;
	}
	img.decorative-blue-circle {
		transform: translate(-38vw, 0);
		width: 12vw;
	}
	img.decorative-white-circle-left {
		transform: translate(-50%, 30%);
		width: 25vw;
	}
	img.decorative-white-circle-right {
		transform: translate(50%, 30%);
		width: 25vw;
	}
}

@media (min-width: 2560px) {
	.drikey-logo {
		width: 30%;
	}
	img.decorative-green-diamond {
		transform: translate(-27vw, -11.5vw);
		width: 4vw;
	}
	img.decorative-yellow-circle {
		transform: translate(31vw, 9vw);
		width: 7vw;
	}
	img.decorative-blue-circle {
		transform: translate(-38vw, 0);
		width: 9vw;
	}
	img.decorative-white-circle-left {
		transform: translate(-13vw, 1vw);
		width: 25vw;
	}
	img.decorative-white-circle-right {
		transform: translate(13vw, 1vw);
		width: 25vw;
	}
}
