.decorative-green-diamond {
	position: absolute;
	transform: translate(-22rem, -17rem);
	width: 3vw;
}

.decorative-yellow-circle {
	position: absolute;
	transform: translate(24rem, 9rem);
	width: 11vh;
}

.decorative-blue-circle {
	position: absolute;
	transform: translate(-27rem, -3rem);
	width: 9vw;
	z-index: 1;
}

.decorative-white-circle-left {
	position: absolute;
	top: 14%;
	left: 0;
	transform: translateX(-50%);
	width: 35vw;
}

.decorative-white-circle-right {
	position: absolute;
	top: 14%;
	right: 0;
	transform: translateX(50%);
	width: 35vw;
	z-index: 1;
}

@media (min-width: 2560px) {
	.decorative-green-diamond {
		transform: translate(-27vw, -14.5vw);
		width: 3rem;
	}
	.decorative-yellow-circle {
		transform: translate(31vw, 9vw);
		width: 7vw;
	}
	.decorative-blue-circle {
		transform: translate(-38vw, 0);
		width: 9vw;
	}
	.decorative-white-circle-left {
		width: 25vw;
	}
	.decorative-white-circle-right {
		width: 25vw;
	}
}
